/* Resetting margin and padding for a clean base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Applying a background gradient */
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background-color: white;
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-container input {
  width: 75%;
  padding: 10px;
  border: 2px solid #fda085;
  border-radius: 8px;
  font-size: 1rem;
}

.input-container input:focus {
  outline: none;
  border-color: #f6d365;
}

.input-container button {
  width: 30%;
  background-color: #fda085;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-container button:hover {
  background-color: #f6d365;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3d7b2;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.todo-container span {
  text-align: left;
}

li.completed span {
  text-decoration: line-through;
  color: #999;
}

li span {
  flex-grow: 1;
  cursor: pointer;
} 

li button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 2px;
}

li button:hover {
  background-color: #e63946;
}


@media (max-width: 280px) {



  

  .app {
    padding: 5px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .input-container input {
  width: 65%;
  height: fit-content;
  padding: 7px;
  
  border-radius: 8px;
  font-size: 0.5rem;
}

  .input-container button {
    padding: 8px;
     width: 40%;
     height: fit-content;
     font-size: 0.8rem;
  }

  .todo-container {
    padding: 5px;
    font-size: 0.9rem;
    height: fit-content;
    
  }

  li button {
    padding: 8px 10px;
  }
}